.panel--image-copy {
    display: flex;
    padding-bottom: 40px;
    align-items: center;
}
.panel--image-copy:first-of-type {
    padding-top: 40px;
}
.panel--image, .panel--copy {
    width: 50%;
}
.panel--image img {
    width: 100%;
}
.panel--copy {
    padding: 0 50px;
}
.image-left {
    flex-direction: row;
}
.copy-left {
    flex-direction: row-reverse;
    text-align: right;
}
@media (max-width: 767.98px) {
.panel--image-copy {
    flex-direction: column;
}
.panel--image, .panel--copy {
    width: 100%;
}
.copy-left {
    text-align: left;
}
.panel--copy {
    padding: 0 30px;
}
}