.step {
    width: 30%;
}
.steps {
    justify-content: space-evenly;
}
.step--info {
    padding: 18px 0;
    text-align: left;
}
.step h3 {
    margin: 15px 0 10px;
}
.step p {
    margin-top: 0;
}
.step figure {
    margin: 15px 0 0;
}
@media (max-width: 1000px){
.step--info {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    }
}
@media (max-width: 575.98px){
.steps {
    flex-direction: column;
}
.step {
    width: 100%;
}
}