.faqs {
    background: #515151;
    padding: 50px 0;
}
.faqs h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.faqs--qa {
    max-width: 750px;
    margin: 0 auto;
    border-top: dotted 1px #efefef;
}
.faqs--qa p, .faqs--qa .fas {
    color: #fff;
}
.faqs--qa .fas {
    position: relative;
    top: 2px;
    font-size: 20px;
}
.faqs--question {
    display: flex;
    position: relative;
    padding: 12px;
    justify-content: space-between;
    cursor: pointer;
    transition: all 2s ease-out;
}
.faqs--question p {
    margin-bottom: 0;
    margin-right: 20px;
}
.faqs--answer {
    display: none;
    /*transition: all 0.5s ease-in-out;*/
}
.faqs--answer.open  {
    display: block;
    padding: 12px;
}


