*, ::before, ::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, p, li {
  color: #333;
  line-height: 1.2;
}
.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.wrapper {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
h2 {
  font-size: 27px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 800;
}
.title-404 {
  text-align: center;
  margin: 100px 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.w-100 {
  width: 100%;
}
.mt-1 {
  margin-top: 0;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-2 div {
  width: 48%;
  display: inline-block;
}
label {
  font-weight: bold;
}
@media (max-width: 767.98px){
.wrapper {
  width: 90%;
}
}