.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px 0;
    transition: 0.8s;
    background-color: rgb(255 255 255 / 100%);
    box-shadow: 2px 0 10px rgb(41 44 61 / 34%);
    z-index: 100;
}
.navbar.sticky {
    background-color: rgb(255 255 255 / 70%);
}
.navbar--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.navbar--logo img {
    max-width: 125px;
    margin-left: 20px;
    transition: 0.8s;
}
.nav--menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav--item {
    float: left;
    display: inline;
}
.nav--item a {
    display: block;
    padding: 30px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.8s;
}
.menu--icon {
    display: none;
}
.sticky .nav--item a {
    padding: 5px 30px;
    font-size: 16px;
}
.sticky .navbar--container {
    height: auto;
}
.sticky .navbar--logo img {
    max-width: 80px;
}
.sticky .hero--container {
    margin-top: 60px;
}
@media (max-width: 767.98px){
.menu--icon {
      display: block;
      position: absolute;
      top: -10px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
.fa-times {
    color: #242222;
    font-size: 2rem;
    }
.nav--item {
    border-top: 1px dotted #555;
}
.nav--item a {
    text-align: center;
    color: #fff;
    padding: 20px;
}
.nav--item a:hover {
    color: #2BC2FF;
}
.nav--menu {
    display: flex;
    width: 100%;
    position: absolute;
    top: 75px;
    left: -100%;
    flex-direction: column;
    opacity: 1;
    transition: all 0.5s ease;
    }
.nav--menu.active {
    background: #242222;
    left: 0;
    padding: 0 35px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}
.sticky .nav--menu {
    top: 53px;
}
.sticky .nav--item a {
    padding: 20px;
    font-size: 20px;
}
}